a{text-decoration: none;}

nav{
    width:700px;
    height:40px;
    display: flex;
    justify-content: space-between;
   background-color: aqua;
   font-size:30px;
   padding: 30px;
}
h1{
    color:red;
}

.navItem{
    color:black;
}