
a{text-decoration: none;}
nav{
 
    width:1200px;
    height:10px;
    display: flex;
    margin-right: 100;
    background-color: burlywood;
   font-size:20px;
   padding: 25px;
}
nav a{
    margin-right: 35px;
}
#about{
    background-color: aqua;
}
#liked_Things{
    background-color: aqua;
}
#disliked_things{
    background-color: aqua;
}
#Report{
    background-color: aqua;
}
h1{
    color:red;
}

