:root{
   --bg: aqua; 
}
.logo{
background-image: url(bmw.jpeg);
width: 70px;
height: 70px;
border: 2px solid black;
background-size:contain;
background-repeat: no-repeat;
}
.NandL{
    display:flex;
}

a{text-decoration: none;}
/*nav{
 
    width:1200px;
    height:10px;
    display: flex;
    margin-right: 100;
    background-color: burlywood;
   font-size:20px;
   padding: 25px;
}*/
nav a{
    margin-right: 35px;
}

#liked_Things{
    background-color:var(--bg);
}
#disliked_things{
    background-color:var(--bg);
}

h1{
    font-style: italics;

    color:red;
}

.imgCard{ 
    border: 2px solid black;
    width: 300px;
    height: 300px;
    background-image: url(profile.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 200px;
    /* margin-left: 500px; */
    box-shadow: 2px 2px 2px 2px gray;
}
#heading{
    text-align: center;
}
#followers{
    text-align: center;
    color: blue;
}
.card{
    border:5px solid black;
    background-color: antiquewhite;
    width: 25%;
    display: inline-block;
    margin-left: 500px;
}
#info{
    text-align: center;
    /* margin-left: 500px; */
}

li{list-style: none;}

.left-para{
display: inline-block;
width: 65%;
margin: auto;
}
.figure{
display: inline-block;
width: 30%;
margin: auto;
}


