:root{
   --bg: aqua; 
   --ta:center;
   
}
.logo{
background-image: url(techlogo);
width: 100px;
height: 120px;
margin-right: 500px;
background-size:contain;
background-repeat: no-repeat;
}
.NandL{
    font-size: xx-large;
    display:flex;
    text-align: var(--ta);
    margin-top: 0%;
}


a{text-decoration: none;}

h1{
    font-style: italics;
    text-align: var(--ta);
    color:red;
}

.article{
    font-size: large;
    display: inline-block;
}

.imgCard{ 
    border: 2px solid black;
    width: 300px;
    height: 300px;
    background-image: url(profile.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 200px;
    box-shadow: 2px 2px 2px 2px gray;
}
#heading{
    text-align: var(--ta);
}
#followers{
    text-align: var(--ta);
    color: blue;
}
.card{
    border: 2px solid black;
    border-radius: 4px;
    background-color:rgb(109, 239, 155);
    width: 25%;
    margin-left: 37%;
    text-align: var(--ta);
}
#info{
    text-align: var(--ta); 
}

li{list-style: none;
}
li h5{
    display: inline;
}
.artical{
    border:2px solid black;
    background-color:darkgray;
    border-radius: 4px;
    box-shadow: 2px gray;
}
.text-image-container {
    display: flex;  
}

.figure {
    margin-left: 20px;            
}

figure img {
    width: 200px;                 
    height: 150px;                 
}
h3,p,ul{
    margin:0;
    line-height: 200%;
    font-style: oblique;
    font-size: larger;
    color:black;
}

footer{
    text-align: center;
    background-color:var(--bg);
}
